.content{
    margin-top: 50px;}

    .cont{
        margin: 0px;
    }

    .btn{
        margin-left: auto !important;
        margin-right: auto;
    }

    .ion-grd{
        margin: -15px;
    }

    .ion-grd1{
        margin: -10px;
    }

   