<div>
  <section class="content">
    <div class="container-fluid" style="background-color: white;">
      <div class="row">
        <div>
          <section class="content">
            <form #frm="ngForm">
            <div class="container-fluid">
              
              <ion-item>
                <ion-label>Dept name</ion-label>
                <ion-input type="text" id="deptnm"  name="deptnm" #deptnm="ngModel" [(ngModel)]="DeptName_"></ion-input>
              </ion-item>
              <ion-item>
                <ion-button color="primary">ADD Department</ion-button>
              </ion-item> 
            </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>