<div>
  <section class="content">
    <div class="container-fluid" style="background-color: white;">
      <div class="row">
        <div>
          <section class="content">
            <form #frm="ngForm">
            <div class="container-fluid">
              <ion-item>
                <ion-label>Plant Name</ion-label>
                <ion-input type="text" id="plantnm"  name="plantnm" #plantnm="ngModel" [(ngModel)]="PlantNm"></ion-input>
              </ion-item>
              <ion-item>
                <ion-button color="primary">Insert Plant</ion-button>
              </ion-item> 
            </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>
